<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.joshlane.dev-cache-prune</string>
  <key>ProgramArguments</key>
  <array><string>__HOME__/.local/bin/dev-cache-prune</string></array>
  <key>EnvironmentVariables</key>
  <dict><key>PATH</key><string>__NODE_PATH__:__HOME__/.local/bin:__HOME__/.cargo/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string></dict>
  <key>StartInterval</key><integer>3600</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>__HOME__/.local/state/dev-cache-prune/out.log</string>
  <key>StandardErrorPath</key><string>__HOME__/.local/state/dev-cache-prune/err.log</string>
</dict>
</plist>
